<div id="footer_DIV_1">
	<div id="footer_DIV_2">
		<div id="footer_DIV_3">
			<div id="footer_DIV_4">
				<div id="footer_DIV_5">
					<svg id="footer_svg_6">
						<title id="footer_title_7">
							logo/autovend-light
						</title>
						<defs id="footer_defs_8">
							<path id="footer_path_9">
							</path>
							<path id="footer_path_10">
							</path>
						</defs>
						<g id="footer_g_11">
							<path id="footer_path_12">
							</path>
							<path id="footer_path_13">
							</path>
							<g id="footer_g_14">
								<mask id="footer_mask_15">
									<use id="footer_use_16">
									</use>
								</mask>
								<path id="footer_path_17">
								</path>
							</g>
							<path id="footer_path_18">
							</path>
							<g id="footer_g_19">
								<mask id="footer_mask_20">
									<use id="footer_use_21">
									</use>
								</mask>
								<path id="footer_path_22">
								</path>
							</g>
						</g>
					</svg>
				</div>
				<div id="footer_DIV_23">
					<div id="footer_DIV_24">
						<a href="tel:18338992886" id="footer_A_25"></a>
						<div id="footer_DIV_26">
							1.833.899.AUTO
						</div>
						<div id="footer_DIV_27">
							1.833.899.2886
						</div>
					</div>
				</div>
				<div id="footer_DIV_28">
					<a href="mailto:support@autovend.ca" id="footer_A_29">support@autovend.ca</a>
				</div>
			</div>
			<div id="footer_DIV_30">
				<div id="footer_DIV_31">
					COMPANY
				</div>
				<div id="footer_DIV_32">
					<a href="#" id="footer_A_33">About</a><a href="#" id="footer_A_34">Register</a><a title="Contact Us" href="/faq" id="footer_A_35">FAQ</a><a title="Contact Us" href="/contact" id="footer_A_36">Contact Us</a>
				</div>
			</div>
			<div id="footer_DIV_37">
				<div id="footer_DIV_38">
					POLICIES
				</div>
				<div id="footer_DIV_39">
					<a title="Terms and Conditions" href="/terms" id="footer_A_40">Terms and Conditions</a><a href="https://www.rbc.com/privacysecurity/" id="footer_A_41">Privacy Policy</a>
				</div>
			</div>
			<div id="footer_DIV_42">
				<div id="footer_DIV_43">
					<div id="footer_DIV_44">
						CONNECT WITH US
					</div>
					<div id="footer_DIV_45">
						<a href="https://facebook.com/autovendcanada/" id="footer_A_46"><i class="fa fa-facebook-square" aria-hidden="true"></i>						</i></a>
						<div id="footer_DIV_48">
						</div><a href="https://twitter.com/autovendcanada" id="footer_A_49"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
					</div>
				</div>
				<div id="footer_DIV_51">
				</div>
				<div id="footer_DIV_52">
					<div id="footer_DIV_53">
						Autovend is partnered with
					</div>
					<div id="footer_DIV_54">
						<img src="/static/media/canadian_blackbook.25af4fea.svg" width="109.5" height="27" id="footer_IMG_55" alt='' />
						<div id="footer_DIV_56">
						</div><img src="/static/media/carproof.457a59b2.svg" width="112.5" height="27" id="footer_IMG_57" alt='' />
					</div>
				</div>
			</div>
		</div>
		<div id="footer_DIV_58">
			Copyright © 2017 Autovend
		</div>
	</div>
</div>