<div style="
    width: 100%;
    padding-top: 2rem;
    background-image: radial-gradient( circle at 52% 51%,rgba(0,0,0,0),rgba(0,0,0,0.46) ),radial-gradient(circle at 50% 112%,#1e8bc3,#2474a9);
    font-color: #fff;
    display: table;
    position: relative;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto',system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    line-height: 1.15;
   ">
   <div class="mb4 mt5 initialHeaderText__CopyContainer-cmGuum cTdomt">
      <div class="lh-title mb3 tracked initialHeaderText__Header-bzTCBa kIPYOT">Eager to sell your vehicle?</div>
      <div class="lh-copy initialHeaderText__SubHeader-exGHpg OrIoN">Autovend offers the most convenient route to getting your car sold.</div>
      <div class="lh-copy initialHeaderText__SubHeader-exGHpg OrIoN">Find the value for your vehicle by completing the fields below.</div>
   </div>
</div>
<!-- div class="pv5 pv6-l ph3 bg-center cover" style="margin-top:79px; background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div -->
