{{ partial "head" . }}

{{ partial "nav_w"  (dict "current" "Contact") }}

<div class="mt5 ph3 bg-off-white vh-100">
	<div class="center mw8 pv3 tc">

		<h1 class="roboto fw8 f3">{{ .Title }}</h1>
		{{ partial "contact-form" . }}
		<div style="border-left: 1px solid #979797" class=" pl5 mb3 fr w-40 vh-100">
			<h4 class="f7 b lh-title mb3 tl">{{.Params.right_subtitle}}</h4>
				
			{{ range .Params.contact_entries }}
				<div class="flex">
						<div><i class="fa fa-{{.heading}}" aria-hidden="true"></i></div>
						<a class="no-underline roboto pl2 fpx16" href="{{.href}}">
						   <p>{{.text}}</p>
						</a>
					 </div>
				
			{{ end }}
			<h4 class="f7 b lh-title tl">{{.Params.social_contact_title}}</h4>
			<div class="flex">
			{{ range .Params.social_entries }}
			
				
					<a class="pa2" href="{{.href}}">
					   <i class="fa fa-{{.icon}}" aria-hidden="true"></i>
					</a>
			
			{{ end }}
			</div>
			
		</div>

		
	</div>
</div>

{{ partial "footer" . }}
