{{ partial "head" . }}

{{ partial "nav_w" . }}

<div class="mw8 center mt6 ph3 bg-off-white vh-100">
	<div class="tc">

		<h1 class="roboto fw8 f3">{{ .Title }}</h1>
	</div>
	<div class="accordion" id="accordion2">
			{{range $index, $element := .Params.faqs}}
			
			<div class="accordion-group">
			   <div class="accordion-heading">
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{$index}}">
				  {{.title}}
				  </a>
			   </div>
			   <div id="collapse{{$index}}" class="accordion-body collapse">
				  <div class="accordion-inner">
					 {{.text}}
				  </div>
			   </div>
			</div>
			{{ end }}
		 </div>
	

		
</div>

{{ partial "footer" . }}
