.nav_t {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px 0 25px;
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    border-bottom-color: #97979738;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    box-shadow: 0px;
    z-index: 1;
    -webkit-transition: 0.15s all ease;
    transition: 0.15s all ease;
}
.lgrCxh {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.kHuImR {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.jfSpgE {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}
.esDjpl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
}
@media (max-width: 769px){
    .esDjpl {
        display: none;
        padding: 14px;
    }
    .lgrCxh{
        padding: 14px;
    }
}

@media (max-width: 768px){
    .cANlpt {
        text-align: center;
        color: #727272;
        padding-bottom: 10px;
    }
}
.cANlpt {
    font-size: 14px;
    font-weight: 300;
    border-bottom: 2px solid #84a5bc00;
    border-radius: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width: 768px){
    .mobile-burger{
        display: flex;
    }
}
@media (min-width: 769px){
    .mobile-burger{
        display: none;
    }
}
@media (max-width: 768px){
    .mobile-only{
        display: block;
    }
}
@media (min-width: 769px){
    .mobile-only{
        display: none;
    }
}
@media (max-width: 768px){
    .not-mobile{
        display: none;
    }
}
@media (min-width: 769px){
    .not-mobile{
        display: block;
    }
}

@media (max-width: 768px){
.hAWWxK {
    text-align: center;
    color: #727272;
    padding-bottom: 10px;
}
}
.hidden{
    display: none
}
.hAWWxK {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 2px solid #84a5bc00;
    border-radius: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bm-overlay-closed{
    position: fixed; z-index: 1000; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); opacity: 0; transition: opacity 0.3s, transform 0s 0.3s; transform: translate3d(100%, 0px, 0px);
}
.bm-overlay-open{
    position: fixed; z-index: 1000; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); opacity: 1; transition: opacity 0.3s;
}
.bm-menu-wrap-open{
    position: fixed; right: 0px; z-index: 1100; width: 100%; height: 100%; transition: all 0.5s; top: 0px;
}
.bm-menu-wrap-closed{
    position: fixed; right: 0px; z-index: 1100; width: 100%; height: 100%; transition: all 0.5s; top: 0px; transform: translate3d(100%, 0px, 0px);
}
.menu_b {
    color: #fff;
    font-size: 14.5px;
    font-weight: 500;
    border-bottom: 2px solid #84a5bc00;
    border-radius: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--font-family);
    
}
.menu_w {
    color: rgb(113, 106, 106);
    font-size: 14.5px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(132, 165, 188, 0);
    border-radius: 0px;
    font-family: var(--font-family);
    
}
.hBZCxx:hover {
    border-bottom: 2px solid #84a5bc;
    text-decoration: none;
}
.hHnhSR:hover {
    border-bottom: 2px solid #84a5bc;
    text-decoration: none;
}
/* White */
.nav_w {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    border-bottom-color: rgba(151, 151, 151, 0.22);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 5px;
    z-index: 1;
    padding: 0px 25px;
    background: rgb(255, 255, 255);
    transition: all 0.15s ease;
}
/* Blue */
.nav_b {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    border-bottom-color: rgba(151, 151, 151, 0.22);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    z-index: 1;
    padding: 0px 25px;
    background: radial-gradient(circle at 52% 51%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.43)), radial-gradient(circle at 50% 112%, rgb(6, 99, 146), rgb(47, 119, 169));
    transition: all 0.15s ease;
}
/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  .custom-dropdown select {
    background-color: white;
    color:black;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;	
    border: 0;
    margin: 0;
    border-radius: 4px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  }
  
  .custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  
  .custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
  }
  
  .custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
  }
  
  .custom-dropdown::before {
    background-color: rgba(0,0,0,0);
  }
  
  .custom-dropdown::after {
    color: rgba(0,0,0,1);
  }