{{ partial "head" . }}
{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "title" "Latest stories") }}

<div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
    {{ $paginator := .Paginate (sort .Pages "Title" ) 2 }}

      {{ range $paginator.Pages }}
          <div class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
</div>

{{ if .Paginator.HasPrev }}
<a class="prev page-numbers" href="{{ .Paginator.Prev.URL }}">Previous</a>
{{ end }}
{{ if .Paginator.HasNext }}
<a class="next page-numbers" href="{{ .Paginator.Next.URL }}">Next</a>
{{ end }}

{{ partial "footer" . }}
